!.gitignore

WebContent/*
!WebContent/assets
WebContent/assets/*
!WebContent/assets/PhaserHelperClasses
!WebContent/lib/
WebContent/lib/*
!WebContent/lib/phaser_simon.js
*.zip
!WebContent/js/
WebContent/js/*
!WebContent/js/Util.js